<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalFamily" data-bind="click: model.on.addNewFamily">
            <i class="fas fa-plus"></i> Add New
        </button>
        <div class="table-responsive">
            <table class="table table-striped" id="tblFamily" style="width:100%">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Religion</th>
                        <th>Gender</th>
                        <th>Relationship</th>
                        <th>Birth Date</th>
                        <th>Birth Place</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>