<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalWorkExperience" data-bind="click: model.on.addNewWorkExperience">
            <i class="fas fa-plus"></i> Add New
        </button>
        <table class="table table-striped" id="tblWorkExperience" style="width: 100%">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Position</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Company Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Position</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>