<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalEducation" data-bind="click: model.on.addNewEducation">
            <i class="fas fa-plus"></i> Add New
        </button>
        <div class="table-responsive">
            <table class="table table-striped" id="tblEducation" style="width: 100%">
                <thead>
                    <tr>
                        <th>School / University</th>
                        <th>Year Start</th>
                        <th>Year End</th>
                        <th>Title</th>
                        <th>Major</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>